.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./assets/image/tv\ studio-1edit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mt-50 {
     vertical-align: 400px;
  }
   /* .title {
  @include font-size(4rem);
} */
@media (min-width: 400px) {
  .title {
    font-size: 2rem;
  }
}
.accordion{
margin-left: 15%;
}
.accordion-item {
background-color: turquoise;
border-top-color: turquoise;
border-color: blue;
max-width: 800px;
align-items: center;
}
.accordion-header{
    background-color: blue;
    text-align: center;
}
  .card-titleser{
    /* margin-left:0pxs; */
   margin-top: 100px;
 text-align: center;
  }
  .card-titleser1{
      margin-left: 00px;
    
  }
  .card-text{
     text-align: center;
  }
  .btn_ser{
     /* margin-left: 720px; */
     margin-top: 00px;
    text-align: center;
   background-color: rgb(180, 21, 21);
  }
  .jumbo-1{
      background-image: url(../assets/image/tv\ studio-1edit.jpg);
  }
  .jumbo-2{
   background-image:  url(../assets/image/section_bg02.jpg);
  }
  .bottom-to-top-section{
    /* text-align: center; */
    font-size: 50px;
 margin-left: 50px;
 }
 .social-icon{
   font-size: 50px;
   /* text-align: center; */
   color: aqua;
   margin-right: 10%; 
 }
 .footer-1b{
  
     text-align: center;
     /* background-color: turquoise; */
 }
 .footer-1c{
     text-align: center;
    /* background-color: violet; */
 }